*
!.gitignore
!**/.gitignore
!**/.gitkeep

!conf/
!conf/**/

!data/
!data/**/

!env/
!env/**/

!logs/
!logs/**/

!secrets/
!secrets/**/

!.editorconfig
!.gitmodules

!check.sh
!deploy.sh

!docker-compose.yml

!README.md
