*
!.gitignore
!**/.gitignore
!**/.gitkeep

!conf/
!conf/**/

!data/
!data/**/

!docker/
!docker/*.yml

!env/
!env/**/

!logs/
!logs/**/

!scripts/
!scripts/*.sh

!secrets/
!secrets/**/

!.editorconfig
!.gitmodules

!check.sh
!deploy.sh

!README.md
